<div class="container home">
	<div class="featured-courses">
		<div id="featuredCourses" class="carousel slide" data-bs-ride="true">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#featuredCourses" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#featuredCourses" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#featuredCourses" data-bs-slide-to="2"
					aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner mb-5">
				<div class="carousel-item active">
					<img src="/img/carousel/HomepageImage.png" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#featuredCourses" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#featuredCourses" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>


	<h1 class="heading">Gong Xi Fa Cai</h1>
	<div class="new d-flex flex-row mb-5">
		<img class="mx-auto orange-img" src="./img/kisspng-mandarin-orange-tangerine-orange-juice-clip-art-orange-fruit-5ac86ad9d28078.1897366815230839938622.png" alt="">
	</div> 
		<p>May everybody have a prosperous chinese new year! But even
		in the new year dementia patients are still suffering forgeting thier loved ones in this festive season</p>
		<p>This is why demntia diaries are here to help! we aim to relive the stress on caretakers with the use of diary and AI!</p>



</div> 

<script>
	$('#scrollLeftCat').click(function () {
		event.preventDefault();
		$('#category').animate({
			scrollLeft: "-=660px"
		}, "medium");
	});

	$('#scrollRightCat').click(function () {
		event.preventDefault();
		$('#category').animate({
			scrollLeft: "+=660px"
		}, "medium");
	});

	$('#scrollLeftNew').click(function () {
		event.preventDefault();
		$('#newRelease').animate({
			scrollLeft: "-=660px"
		}, "slow");
	});

	$('#scrollRightNew').click(function () {
		event.preventDefault();
		$('#newRelease').animate({
			scrollLeft: "+=660px"
		}, "slow");
	});

	$('#scrollLeftRec').click(function () {
		event.preventDefault();
		$('#recommended').animate({
			scrollLeft: "-=660px"
		}, "slow");
	});

	$('#scrollRightRec').click(function () {
		event.preventDefault();
		$('#recommended').animate({
			scrollLeft: "+=660px"
		}, "slow");
	});

</script>