<link rel="stylesheet" href="/css/diary/diary.css">
<div class="row mx-auto row-diary">


	<div class="container home col">
		<h3>Date:</h3>
		<h3>Title</h3>
		<form method="post" name="dairyForm" id="dairyForm" enctype="application/json" class="form-group">
			<textarea name="Message" class="MessageBox form-control"> </textarea>
			<br>
			<input type="submit"  value="Create" class="btn btn-main">
		</form>
	</div> 

		<div class="list-group diary-sidebar col pl-10">
		<h3>Events:</h3>
		<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
			<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">List group item heading</h5>
			<small>3 days ago</small>
			</div>
			<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			<small>Donec id elit non mi porta.</small>
		</a>
		<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">List group item heading</h5>
			<small>3 days ago</small>
			</div>
			<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			<small>Donec id elit non mi porta.</small>
		</a>
		<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">List group item heading</h5>
			<small>3 days ago</small>
			</div>
			<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			<small>Donec id elit non mi porta.</small>
		</a>
	</div>


</div>
<script>

</script>