<link rel="stylesheet" href="/css/diary/diary.css">
<div class="row mx-auto row-diary">


	<div class="container home col">
		<h3>Date:</h3>
		<h3>Title</h3>
		<form method="post" name="dairyForm" id="dairyForm" enctype="application/json" class="form-group">
			<textarea name="Message" class="MessageBox form-control"> </textarea>
			<br>
			<input type="submit"  value="Create" class="btn btn-main">
		</form>
	</div> 

		<div class="list-group diary-sidebar col pl-10">
		<h3>Events:</h3>
		<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active px-0 py-0">
			<div class="row">
				<div class="d-flex col col-2 border border-black">
				<p class="mb-1">1st Jan 24</p>
				</div>
				<div class="col-6">
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small>Donec id elit non mi porta.</small>
				</div>
			</div>
		</a>
		<a href="#" class="list-group-item list-group-item-action flex-column align-items-start px-0 py-0">
			<div class="row">
				<div class="d-flex col col-2 border border-black">
				<p class="mb-1">1st Jan 24</p>
				</div>
				<div class="col-6">
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small>Donec id elit non mi porta.</small>
				</div>
			</div>
		</a>
		<a href="#" class="list-group-item list-group-item-action flex-column align-items-start px-0 py-0">
			<div class="row">
				<div class="d-flex col col-2 border border-black">
				<p class="mb-1">1st Jan 24</p>
				</div>
				<div class="col-6">
					<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
					<small>Donec id elit non mi porta.</small>
				</div>
			</div>
		</a>
	</div>


</div>
<script>

</script>