<div class="container home">
	<form method="post" name="dairyForm" id="dairyForm" enctype="application/json" >
		<textarea name="Message" id="" rows="20" cols="100"> </textarea>
		<br>
		<input type="submit"  value="Submit">
	</form>
</div> 

<script>

</script>