.diary-sidebar 
{
    width: 145px;
    background-color: beige;
}

.MessageBox
{
    height: 300px;
}

.row-diary{
    margin-left: 64px !important;
}
.square {
    border: 1px solid;
    border-color: white;
}