<div class="forum container">
    <div class="entry-container d-flex align-items-center justify-content-center flex-wrap">
        <div class="entry-card">
            <div class="row forum-nav">
                <div class="container d-flex justify-content-center buttons-c-f forum-create">
                    <div class="button-wrapper">
                        <a type="button" class="btn btn-main create-button" href="/medication/AddPatient">Add patient</a>
                    </div>
                </div>
            </div>
            <div class="row forum-main">
                <div class="col-4 favourites container flex-wrap favourites-container">
                    <div class="favourites-heading">
                        <h2>Patient Profile</h2>
                    </div>
                </div>
                <div class="col-4 favourites container flex-wrap favourites-container">
                    <div class="favourites-heading">
                        <h2>Patient Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>